@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
	background: #EFEFEF ;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	color: #000000;
}


.btn {
    color:#333333;
    font-weight:500;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    border:1px solid #cccccc;
    background-color:#fff;
    text-align:center;
    cursor:pointer;
    padding:3px 10px 5px;
    border-radius:4px;
}
.btn:active, .btn:focus, .btn:hover {
    background-color:#e6e6e6;
    border-color: #adadad;
    color: #333333;
}
.btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

/*이벤트 리스트 */

.imgLayout {
	width: 290px;
	height: 330px;
	padding: 1px 1px 10px 5px;
	margin: 5px;
	border: 1px solid #999;
	cursor: pointer;
}

.imgLayout img:hover {
	opacity: 80%;
}
/*이미지레이아웃 내 텍스트들*/
.eSubject{
	width: 270px;
	height: 25px;
	line-height: 25px;
	margin: 1px auto;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer; 
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}

.event-term {
	width: 270px;
	height: 25px;
	line-height: 25px;
	margin: 1px auto;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer; 
	text-align: left;
	font-size: 14px;
	color: #999;
}


.eBtn{
	width: 300px;
    background: #FC3C55;
    margin: 30px 0 0;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 0;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
 
	 
}

.eBtn:hover{
	background: #FC4B62;
}

/* 이벤트 참여 완료 */
.eBtn-aplyfin{
	width: 300px;
    background: #c0c0c0;
    margin: 30px 0 0;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 0;
    text-align: center;
    color: #000000;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
 
	 
}

/* 이벤트 종료 */
.eBtn-end{
	width: 300px;
    background: #c0c0c0;
    margin: 30px 0 0;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 0;
    text-align: center;
    color: #000000;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
 
	 
}
/* 이벤트 내 빨간 버튼*/
.eBtn2{
    background: #FC3C55;
    margin: 30px 0 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px 5px;
    border: 1px solid #999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: normal; 
}
/* 이벤트 내 기본 어두운 버튼*/
.eBtn3{
    background: #000000;
    margin: 30px 0 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px 5px;
    border: 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: normal; 
}

.eBtn3:hover{
	background: #40434A;
}

/* created CSS*/
.boxTF {
    border:1px solid #999999;
    padding:3px 5px 5px;
    border-radius:4px;
    background-color:#ffffff;
    font-family:'Noto Sans KR', sans-serif;
}

.boxTA {
    border:1px solid #999999;
    height:150px;
    padding:3px 5px;
    border-radius:4px;
    background-color:#ffffff;
    font-family:'Noto Sans KR', sans-serif;
}
/* 스티커 + 조회수 wrap */
.article-bottom-wrap {
    display: inline-block;
    margin: 50px 10px 0;
    float: left;
}


/* 스티커 */
.article-bottom-wrap .sticker {
	font-size: 20px;
	padding: 0 5px;
	color: #FC3C55;
    box-sizing: border-box;
    border: 1px solid #FC3C55;
    font-weight: 600;
    float: left;

}

.article-bottom-wrap .sticker-end {
	font-size: 20px;
	padding: 0 5px;
	color: #999;
    box-sizing: border-box;
    border: 1px solid #999;
    font-weight: 600;
    float: left;	
}

/* 조회수 */
.article-bottom-wrap .eHitCount {
	padding : 0px;
	color: #999;
	font-size: 14px;
	float: left;
	margin: 5px 0 0 100px;
}


/* 반짝이 */
.blinking{
	-webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
/* 여기가지 반짝이 */
