@charset "UTF-8";

/* login box */
.login {
    margin:130px auto 0;
    width: 500px;
}
.login-title {
    text-align: center;
    margin-bottom: 10px;
}
.login-box { 
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
}
.login-box input { 
    width:100%; 
    height:50px; 
    display:block; 
    box-sizing:border-box; 
    padding:5px 10px;
    margin:0 0 10px; 
    color:#999
    font-size:14px; 
    border:1px solid #ddd; 
}
.btn-submit { 
    width:100%; 
    background : #373a40;
    margin:30px 0 0; 
    cursor:pointer; 
    border-radius: 10px 10px 10px 10px  ;
}
.btn-submit a { 
    display: block; 
    text-align: center;
    color:#fff;
    line-height:50px; 
    font-size:14px; 
    font-weight:normal; 
    width: 100%;
    height: 50px;
}
.find { 
    margin:20px 0 0; 
    text-align:center; 
}
.find ul { 
    font-size:0; 
}
.find ul li {
        display:inline-block;
        margin: 0 9px;
}
.find ul li a { 
    font-size:13px; 
    color:#999; 
    display : inline-block
    text-decoration : none;
}
input {
    border-radius: 10px 10px 10px 10px;
}
#login_text {
	font-size: 19px;
	margin-bottom: 20px;
	text-align: center;
}