@charset "UTF-8";
#mypage ul li  {
    list-style-type: none;
}
#mypage a {
    text-decoration: none;
}
#mypage {
    margin: 20px auto;
    width: 1100px;
    height: 500px;
}
/* 왼쪽 */
#my_left {
    width: 160px;
    float: left;
    height: 500px;
}
#myl_title {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid;
    height: 30px;
}
#myl_list  {
    margin: 0;
    padding: 0;
}
#myl_list li{
    height: 40px; 
    line-height:40px; 
    border-bottom:1px solid #f1f1f1; 
    font-size:12px; 
    color:#232323; 
    font-weight:300; 
} 
#myl_list li a { 
    font-size:13px; 
    color:#333; 
    font-weight:800;
     display: block; 
     padding-left: 8px;
}
#mypage-lnb li.active a {
    font-weight:500; 
    color:#000000; 
}

/* 오른쪽 */
#my_right {
    height: 200px;
    float: right;
    width: 820px;
}
    /* --프로필 */
#myr_profile {
    height: 200px;
    border: 2px solid;
}
#profile_box {
    height: 100%;
    background-color:#fbfbfb;
}
#imageee img{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
#informantion{
    float: left;
    padding-top: 60px;
    padding-left: 10px;
}
#informantion p{
    margin-top: 10px;
}

#myr_title {
    font-size: 15px;
    border-bottom: 2px solid #000;
    padding-top: 33px;
}
    /* --상세정보 테이블  */
#table_title {
    background-color: #e7e4e49d;
    color: #232323;
    font-size: 13px;
    height: 40px;
}
#table_title p {
	height: 40px;
	line-height: 40px;
	font-weight: 800;
}
#table_title ul {
    display: flex; 
    text-align : center; 
    float:left; 
    margin: 0;
    width: 820px;
    padding: 0;
}
#table_content {
    color: #232323;
    font-size: 13px;
    height: 40px;
    background: white;
}
#table_content ul {
    display: flex; 
    text-align : center; 
    float:left; 
    margin: 0;
    width: 820px;
    padding: 0;
}
#table_content ul li {
    line-height: 40px;
	
}