@charset "UTF-8";

body,  div, select { font-family:'Noto Sans KR', 'Noto Sans', Helvetica, AppleGothic, Sans-serif; font-weight:normal; }

a {
	text-decoration: none;
}
.notice ul, li {
	list-style: none;
}
.notice a {
	text-decoration: none;
}
#wrapper {
	padding: 0;
}
.inner { 
	width:960px; 
	margin:0 auto; 
}

.title-area { width:100%; padding:10px 0; border-bottom:2px solid #000; margin-bottom:50px; }

.both:after { content:''; display:block; clear:both; }

.board-notice { width:100%; }

.contents-wrap { margin-bottom:30px; }
.contents-wrap:after { content:''; display:table; clear:both; }

.title { background-color:#f9f9f9; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; margin:0; }
.title span { color:#000; font-weight:500; }
.title span.subject { text-align:center; }

.item { width:100%; padding:15px 0; border-bottom:1px solid #f1f1f1; }
.item:after { content:''; display:block; width:0; height:0; clear:both; float:none; }
.item span { display:block; text-align:center; font-size:14px; color:#232323; }
.item .number { width:11%; float:left; }
.item .subject { width:55%; float:left; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.item .date { width:15%; float:left; }
.item .hit { width:9%; float:left; }
.item .no_file { width:9%; float:left; }
/* .item .checkdel { width:5%; float:left; } */
.item span a { color:#232323; font-size:14px; }
.item span a:hover { text-decoration:underline; }

.pagenation { width:100%; text-align:center; margin:50px 0 0; clear:both; float:none; }
.pagenation ul { display:inline-block; }
.pagenation ul li { float:left; }
.pagenation ul li a { height:30px; line-height:30px; display:inline-block; font-size:14px; color:#959595; padding:0 3px; margin:0 10px; box-sizing:border-box; vertical-align:middle; }
.pagenation ul li a:hover { text-decoration:underline; color:#222; }
.pagenation ul li.select a { text-decoration:underline; color:#222; }

.lnb { width:100%; text-align:center; margin-bottom:60px; }
.lnb ul { display:inline-block; }
.lnb .tab { width:200px; float:left; text-align:center; box-sizing:border-box; border:1px solid #f1f1f1; border-left:0; }
.lnb .tab:first-child { border-left:1px solid #F1f1f1; }
.lnb .tab a { color:#000; font-size:16px; padding:10px 0; display:block; }
.lnb .notice-tit { background-color:#000; border-color:#000; }
.lnb .notice-tit a { color:#fff; }

#listfooter{
	width: 960px; 
	margin: 10px auto; 
	border-spacing: 0px;
}
#listfooter tr {
	width: 100%;
}
.resetbutton {
}
#resetbutton botton {
	width: 100px;
	border-style: none;
}
#listfooter button{
	width: 70px;
	height: 30px;
	background: #f1f1f1;
	border-radius: 9px;
	border: 1px solid #ccc;
}
#listfooter input {
	border: 1px solid #ccc;
	border-radius: 9px;
	height: 30px;
	
}
.selectField {
	border-radius: 9px;
	border: 1px solid #ccc;
	height: 30px;
	
}
.qna {
	height: 40px;
	width: 400px;
	margin: 0 auto;
}
.qna li {
	height: 40px;
}
.qna li span {
	display: inline-block;
	height: 40px;
	text-align: center;
	border-bottom: 1px solid #ccc;
/* 	border-radius: 7px; */
}
.qna li span a {
	display: inline-block;
	width : 100%;
	font-size: 15px;
	line-height: 40px;
}

/* 여기는 . . . faq*/
#group {
	height: 40px;
	background: black;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
.Q {
	height: 70px;
}
.Q span {
	line-height: 40px;
	display: inline-block;
	margin: 15px auto;
}
.Q li{
	line-height: 80px;
	height: 70px;
}