@charset "UTF-8";
/* header, footer  같이 */
* {
    padding: 0;
    margin: 0;
}
body {
	background: #EFEFEF ;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	font-weight: 200;
	color: #000000;
}
a {
	text-decoration: none;
}
#wrapper {
	padding: 0;
}
/* Header */
#header-top {
	height: 40px;
	width: 100%;
	background-color: #373a40;
	margin-bottom: 15px;
}
#login {
	width: 940px;
	margin: 0 auto;
	padding-top: 15px;
}
#header-top ul {
	width: 300px;
	height: 40px;
	line-height: 5px;
}	
#header-top ul li{
	display: inline-block;
	height: 30px;
	width: 90px;
	text-align: center;
	margin:  5px auto;
}
.login2 a {
	color: #e9e9e9;
	margin-top: 9px ;
	pointer-events: inherit;
	font-size: 13px;
}

#header {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}
/* logo */
#logo {
	width: 1200px;
	height: 150px;
	margin: 30px auto 20px auto;
	background-image: url("images/haru2.png");  
	background-repeat: no-repeat;
	background-position: center;
	background-size: 130px 130px;
}
#logo a {
	border: none;
	background: none;
	text-decoration: none;
	pointer-events: painted;
}
/* menu */
#menu {
	overflow: hidden;
	padding: 0px 0px;
	margin: 0px auto 30px auto;
	border-radius: 15px;  
	margin-top: 30px; 
	font-size: 18px;
	color: #000000;
	border-bottom: 1px solid;
	background: #373a40;
	width: 1200px;
	/* #e45151; #f4955c;  #e8b297; rgb(0, 74, 98); #8aa99a; */
}
#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
	height: 40px;
}
#menu li {
	display: inline-block;
	height : 36px;
}
#menu a {
	display: block;
	padding: 9px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color:#e9e9e9;
	border: none;
}
#menu li:hover {
	border-bottom: 1px solid white;
}
/* footer */
#footer {
	background-color: #373a40;
	padding:20px 0;
	height: 150px;
}
#foot{
	width:1200px; 
	margin:0 auto;
	color: #e9e9e9;
	margin-top: 5px;
}
#footlogo img {
	width: 80px;
	height: 80px;
}
#footlogo {
	float: left;
}
.info {
	display: inline-block;
	margin-top: 10px;
	font-size: 13px;
	margin-left: 10px;
}
#cp {
	clear: both;
	font-size: 12px;
	padding-left: 6px;
}
#footerInner {
	text-align: right;
	padding-right: 50px;
}
#footerInner a {
	margin: 0 10px;
	color: #e9e9e9;
	font-size: 11px;
}
/* 내용부분  */
.body_tem {
	
}
.title-area {
	font-size : 16px;
	margin : 0 auto 60px;
	text-align : left;
	border-bottom: 2px solid;
	height: 20px;
	padding-bottom: 20px;
	width: 700px;
}
.content_tem {
	width: 1200px;
	min-height: 400px;
	margin: 70px auto;
}
